<%= form_with(model: option, local: true) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
        <% option.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :name1 %>
    <%= form.text_field :name1 %>
  </div>

  <div class="field">
    <%= form.label :name2 %>
    <%= form.text_field :name2 %>
  </div>

  <div class="field">
    <%= form.label :name3 %>
    <%= form.text_field :name3 %>
  </div>

  <div class="field">
    <%= form.label :name4 %>
    <%= form.text_field :name4 %>
  </div>

  <div class="field">
    <%= form.label :name5 %>
    <%= form.text_field :name5 %>
  </div>

  <div class="field">
    <%= form.label :name6 %>
    <%= form.text_field :name6 %>
  </div>

  <div class="field">
    <%= form.label :name7 %>
    <%= form.text_field :name7 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
