<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Name1:</strong>
  <%= @option.name1 %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @option.name2 %>
</p>

<p>
  <strong>Name3:</strong>
  <%= @option.name3 %>
</p>

<p>
  <strong>Name4:</strong>
  <%= @option.name4 %>
</p>

<p>
  <strong>Name5:</strong>
  <%= @option.name5 %>
</p>

<p>
  <strong>Name6:</strong>
  <%= @option.name6 %>
</p>

<p>
  <strong>Name7:</strong>
  <%= @option.name7 %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
